.body {
  @apply font-sans relative sm:pt-[84px] md:pt-[96px] lg:pt-0;
}

:root {
  --background: #ffffff;
  --foreground: #242424;
}

[data-theme='dark'] {
  --background: #242424;
  --foreground: #ffffff;
}
