.body {
  @apply font-sans relative pt-[84px] md:pt-[96px] lg:pt-0;
}

.body-text {
  @apply text-light-grey-600 dark:text-dark-grey-200;
}

:root {
  --background: #ffffff;
  --foreground: #242424;
}

[data-theme='dark'] {
  --background: #242424;
  --foreground: #ffffff;
}

.project-table-heading {
  @apply py-4 font-semibold leading-tight text-black dark:text-light-grey-100;
}
