.body {
  @apply font-sans relative pt-[84px] md:pt-[96px] lg:pt-0;
}

.body-text {
  @apply text-light-grey-600 dark:text-dark-grey-200;
}

:root {
  --background: #ffffff;
  --foreground: #1a1a1a;
}

[data-theme='dark'] {
  --background: #1a1a1a;
  --foreground: #ffffff;
}

.project-table-heading {
  @apply py-4 font-semibold leading-tight text-black dark:text-light-grey-100;
}

.body-text-white {
  @apply dark:text-white text-black font-semibold;
}
